.navbar-container{
    max-width: 100%;
}
.navbar-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17181D;
    padding: 0px 120px;
}

.navbar-nab-logo img {
    height: 100px;
    width: 90px;
}

.navbar-Menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-Menu li {
    margin: 0 20px;
    color: white;
    cursor: pointer;
    font-size: large;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-Menu li:hover {
    color: #E09145; /* Change color on hover */
}

.navbar-Menu .navbar-active {
    font-weight: bold;
}
.navbar-nav-buttons button {
    margin-left: 15px; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.navbar-but1 {
    text-decoration: none; 
    color: white; 
    background-color: #17181D; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: large;
    transition: color 0.3s ease; 
}

.navbar-but1:hover {
    color: #E09145; /* Change text color on hover */
}
.navbar-nav-buttons button:last-child {
    border-radius: 10px;
    background-color: #E09145;
    color: white;
}
/* Media query for iPhone SE */
@media (max-width: 375px) {
    .navbar-navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .navbar-navbar-nab-logo img {
        height: 60px;
        width: 60px;
    }

    .navbar-navbar-Menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-navbar-Menu li {
        margin: 10px 0;
        font-size: medium;
    }

    .navbar-nav-buttons {
        margin-top: 10px;
    }

    .navbar-nav-buttons button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        max-width: 200px;
    }
}
@media (max-width: 390px) {
    .navbar-navbar {
        flex-direction: column;
        padding: 10px 30px;
    }

    .navbar-nab-logo img {
        height: 70px;
        width: 70px;
    }

    .navbar-navbar-Menu {
        flex-direction: column;
        align-items: center;
    }

    .navbar-navbar-Menu li {
        margin: 10px 0;
        font-size: medium;
    }

    .navbar-nav-buttons {
        margin-top: 10px;
    }

    .navbar-nav-buttons button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        max-width: 220px;
    }
}